body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ea; /* Light green background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #2E8A68; /* Dark background color for the header */
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    width: 80%; /* Adjust the width as needed */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for the main content */
}

section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    /* Add styles for the footer if needed */
    background-color: #2E8A68; /* Dark background color for the footer */
    color: #fff;
    padding: 10px;
    text-align: center;
}
