body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ea; /* Light green background color */
    margin: 0;
    padding: 0;
}



nav {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    background-color: #2E8A68; /* Green background color for the navigation */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for the main content */
}

footer {
    background-color: #2E8A68; /* Dark background color for the footer */
    color: #fff;
    padding: 10px;
    text-align: center;
}
