/* site wide styles */

html {
    background-color: #2e8a68;
  }

body {
    margin: 0;
}

.container {
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.inner-container {
    background-color: aliceblue;
    min-height: 87vh;
    width: 90%;
    max-width: 900px;
    border: solid black 2px;
    border-radius: 20px;  
    display:flex;
    flex-direction:row;
  } 



/* nav bar/header styles */
header{
    background-color: white;
    padding:0px;
    margin:0px;
    width: 100%;
    text-align: center;
    text-decoration-color: black;
}

a{
    padding: 20px;
    margin-bottom: 20px;
    font-size: large;
    text-decoration: none;
    }

#Logo{
        text-align: center;
        font-size: x-large;
        margin-bottom: 10px;
    }




 
/* privary policy page-specific */    
.container-info{
  padding: 10px;
}


/* faq page-specific */

.faq-info {
  width: 100%;
}


.faq-item {
  width: 80%;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.question {
  padding: 15px;
  font-weight: bold;
}

.answer {
  padding: 15px;
  display: none;
}

.faq-item.expanded {
  transform: scaleY(1.1);
}

.faq-item.expanded .answer {
  display: block;
}

.terms-info {
  padding: 10px;
}


/* contact us page-specific */

.contact-info {
  padding: 10px;
  width: 100%;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

