
     body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ea; /* Light green background color */
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #2E8A68; /* Dark background color for the header */
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff; /* White background for the main content */
    }

    footer {
        background-color: #2E8A68; /* Dark background color for the footer */
        color: #fff;
        padding: 10px;
        text-align: center;
    }
